.my-reply {
  display: flex;
  flex-direction: column;
  align-items: center;

  .my-reply-item {
    background-color: #00000000 !important;
    width: 100%;

    .reply-markdown {
      margin: 0;
      padding: 0;
    }
  }

  .load-button {
    margin: 0 10px 10px 10px;
    width: 66%;
    height: 60px;
    @media screen and (max-width: 1100px) {
      width: calc(100% - 20px);
    }
    @media screen and (min-width: 1400px) {
      width: 40%;
    }
  }
}

.reply-info {
  .MuiPaper-elevation8 {
    width: 300px;
    .MuiListItemText-root{
      .MuiListItemText-secondary{
        word-wrap:break-word;
        word-break:break-all;
      }
    }
    .have-action{
      max-width: 150px;
    }
  }
}
