.my-reply{
  display: flex;
  flex-direction: column;
  align-items: center;
  .my-reply-item{
    background-color: #00000000!important;
    width: 100%;
    .reply-info{
      display: flex;
      align-items: center;
      .reply-info-time{
        padding: 6px 8px 6px 0;
      }
      .reply-info-button{
        text-transform: none;
      }
    }
    .reply-markdown{
      margin: 0;
      padding: 0;
    }
  }
  .load-button {
    margin: 0 10px 10px 10px;
    width: 66%;
    height: 60px;
    @media screen and (max-width: 1100px) {
      width: calc(100% - 20px);
    }
    @media screen and (min-width: 1400px) {
      width: 40%;
    }
  }
}
